node_modules
.idea
logs
build
dist
distGulp
build
.env
nodejs
*.zip
setup
.scannerwork/.sonar_lock
.scannerwork/report-task.txt
.scannerwork/css-bundle/stylelintconfig.json
.vscode/launch.json
.vscode/settings.json
.DS_Store
src/lambda_handlers/.scannerwork
.scannerwork
tmp
reports