<div class="container">

            <ul class="collapsible">

          <li>
            <div class="collapsible-header">Version 1</div>
            <div class="collapsible-body">
              <img src="version1.png" alt="later" width="700" height="440">
            </div>
          </li>

          <li>
            <div class="collapsible-header">Version 2</div>
            <div class="collapsible-body">
              <img src="version2.png" alt="later" >
            </div>
          </li>

        </ul>

</div>