<h3>
    <i class="fa-solid fa-blog"></i>Bloggly
</h3>

<div class="section">
    <p class="lead">  Blog together!</p>
</div>


<div class="divider"></div>
{{!-- __________________________________________ --}}

<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>Log In With Google
    </a>
</div>